<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341845114998-bpgre78h8o59h2s03573nj4idtallfk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341845114998-bpgre78h8o59h2s03573nj4idtallfk5</string>
	<key>API_KEY</key>
	<string>AIzaSyBlFcbIfwOmBnMa1fBIUeZ9Y3ISt_UXLvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>341845114998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awsome.app.openroad</string>
	<key>PROJECT_ID</key>
	<string>openroad-b13be</string>
	<key>STORAGE_BUCKET</key>
	<string>openroad-b13be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341845114998:ios:bb5423db8d2833765fdf57</string>
	<key>DATABASE_URL</key>
	<string>https://openroad-b13be.firebaseio.com</string>
</dict>
</plist>